/* Styles for the website */
* {
  margin:0;
  padding:0;
}

body {
  margin: auto;
  font-family: system-ui, Helvetica, Arial,sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #130f40 3%, rgb(44, 93, 141) 38%, rgb(26, 88, 213) 68%, rgb(73, 50, 191) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.wrap {
  width:90%;
  margin:0 auto;
}

header{
  width: 100%;
  height: 100px;
  background: #002D62;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  text-align: left;
  line-height: 100px;
}

.logo h2{
  font-size: 30px;
  font-family: 'Pacifico';
  color: #fff;
  letter-spacing: 4px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  margin-left: 30px;

  /* Animation specifications */
  animation:
  effect 3.5s steps(50, end),
  .75s step-end infinite;
}

.logo a {
  text-decoration: none;
}
/* Animation effect css */
@keyframes effect {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

nav {
  line-height: 100px;
  margin: 0px 0px 0px 800px;
}

nav a{
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 20px;
  color: #fff;
  padding: 36px 10px;
  margin: 0 1px;
}

nav a:hover{
  background: #fff;
  color: #130f40;
}

 .information {
   position: absolute;
   margin-top: 225px;
   font-size: 100px;
   text-align: center;
   word-wrap: break-word;
   font-weight: bold;
   color: white;
   z-index: -100;
 }

 .interests {
   position: absolute;
   margin-top: 1100px;
   font-size: 50px;
   margin-left: 450px;
   text-align: center;
   word-wrap: break-word;
   font-weight: bold;
   line-height: 90px;
   color: rgb(22, 20, 20);
 }

 .interests ol {
  list-style: none;
  margin-bottom: 50px;
  color: white;
 }

/* Scroll animation css */
.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor: pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 40px;
	position: absolute;
	left: 50%;
	bottom: 100px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  z-index: -1;

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.interests h2 {
  color: white;
}
